<div class="top-wrapper">
  <div class="top-inner-text">
    <p>Sketchy</p>
    <p class="lead">横乗りスポーツに特化した動画投稿アプリです。</p>
    <p class="lead">初心者から上級者まで横乗りスポーツを楽しむツールとして利用してみませんか！？</p>
    <%= link_to "Start", "posts", class: "btn btn-primary btn-lg mt-3" %>
  </div>
</div>
