<div class="listings">
  <div class="listings_channels">
    <ul class="channel_list">
      <%= sidebar_link_item_brue('新規投稿', new_post_path) %>
      <%= sidebar_link_item('タイトルへ', root_path) %>
    </ul>
  </div>
</div>